* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    scroll-behavior: smooth;
    background-color: #f4f4f4;
}

header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.navbar {
    background: rgba(0, 0, 0, 0.8); 
    color: #ffffff;
    padding: 10px 1rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color 0.3s ease;
}

.navbar .brand {
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar .nav-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar .nav-list li {
    margin: 0 1rem;
}

.navbar .nav-list li a {
    color: #fff;
    text-decoration: none;
    padding: 0.5rem 1rem;
    transition: color 0.3s ease;
}

.navbar .nav-list li a:hover {
    color: #ffd700; 
}

.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.menu-toggle .bar {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 4px 0;
    transition: 0.4s;
}

section {
    position: relative;
    padding: 80px 20px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    color: #4c3636;
    text-align: center;
    background-size: cover;
    background-position: center;
    font-size: 1.5rem;
}

#home {
    background-image:url('images/1.jpg'); 
    position: relative;
    text-align: center;
    padding: 80px;
}

#home::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 2em;
}

#about {
    background-image: url('images/about.jpg'); 
}

#services {
    background-image: url('images/services.jpg'); 
}

#contact {
    background-image: url('images/contact.jpg'); 
}

@media (max-width: 768px) {
    .navbar .nav-list {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.8);
        width: 250px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transform: translateX(100%);
        transition: transform 0.3s ease-in-out;
    }
    .navbar .nav-list.active {
        transform: translateX(0);
    }
    .navbar .nav-list li {
        margin: 1rem 0;
    }
    .menu-toggle {
        display: flex;
    }
    .nav-active .menu-toggle .bar:nth-child(1) {
        transform: rotate(-45deg) translate(-5px, 6px);
    }
    .nav-active .menu-toggle .bar:nth-child(2) {
        opacity: 0;
    }
    .nav-active .menu-toggle .bar:nth-child(3) {
        transform: rotate(45deg) translate(-5px, -6px);
    }
}
